@import "./variables.scss";


.expPanel {
    padding: 5em 2em 0 2em;
    margin: auto 0;
    background-image: url('../images/letterBG.jpg');
}
.expSearch {
    margin: 0 auto;
    border: 1px solid $border-color-grey;
    border-radius: 3px;
    background-color: $background-grey;
    width: 80%;;
    min-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $font-color-secondary;
    font-size: 0.85em;
    font-weight: 300;
    padding-left: 10px;
    margin-bottom: 10px;

    .expSearchh{
        border: 1px solid $border-color-grey;
        border-radius: 3px;
        background-color: $background-grey;
        min-height: 30px; 
        padding-left: 10px;
    }
}
.explore {
    margin:  0 auto;
    max-height: fit-content;
    max-width:fit-content;
    background-color: $background-grey;
    padding: 5px 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  .expTitleContainer {
    display: flex;
    justify-content: space-between;
    font-size: 0.8em;
    font-weight: 500;
    font-weight: bold;
    color: $font-color-secondary;
    margin-bottom: 1.25em;

    .expTitle {
      min-width: 200px;
    }
  }
}
@media only screen and (max-width: 500px) {
    .expPanel{
        background-image: none;
    }
}