.menu {
  display: flex;

  .icon {
    width: 23px;
    height: 23px;

    &:hover {
      cursor: pointer;
    }
  }

  .profileIcon {
    margin-top: -5px;

    &.small {
      width: 35px;
      height: 35px;
    }
  }
}

.menu a{
  margin-right: 1.5em;
}

#homeA:hover #homeC{
  fill:red;
}
#messageA:hover #messageC{
  fill:red;
}
#exploreA:hover #exploreC{
  fill:red;
}
#notiA:hover #notiC{
  fill:red;
}
