@import "./variables.scss";


.notiPanel {
    width: 320px;
    padding: 7em 2em 0 2em;
    margin: auto 0;
  }
.notification {

    // margin-top: 0.75em;
    // margin: auto 0;
    max-height: fit-content;
    min-width: fit-content;
    

  .titleContainer {
    display: flex;
    justify-content: space-between;
    font-size: 0.8em;
    font-weight: 500;
    color: $font-color-secondary;
    margin-bottom: 1.25em;

    .title {
      min-width: 200px;
    }

    a {
      width: 100%;
      text-align: right;
      color: black;
    }
  }
}
