@import "./variables.scss";

.fileupload > input {
  display: none;
}
.statusbar__upload {
  margin: 30px 20px 30px 30px;
}
.stories {
  
  background-color: $background-white;
  border: 1px solid $border-color-grey;
  display: flex;
  overflow-x: scroll;

  align-content: center;
  border-radius: 3px;
  margin: 2em 0 1.5em 0;
  height: 7.4em;
}
.stories::-webkit-scrollbar {
  display: none;
}

.anchorStory{
  color: black;
  font-size: medium;
}
.storyDiv{
  margin : 0 auto;
  max-width: fit-content;
  max-height: fit-content;
}

// @media only screen and (max-width: 640px) {
  @media only screen and (max-width: 500px) {
  .stories {
    margin: 0 0 0.5em 0;
    max-width: 360px;
  }
}
